@charset "UTF-8";
head, body {
  margin: 0px 0px;
  padding: 0px 0px;
  color: #CCCCCC;
  background: #1F1F1F;
  font-family: 微軟正黑體;
  font-size: 24px;
  font-weight: bold; }

.navbar-inverse {
  background: #0D0D0D; }

@media only screen and (min-width: 297px) {
  .stock_group, .stock_index {
    max-width: 280px; } }

@media only screen and (min-width: 577px) {
  .stock_group, .stock_index {
    max-width: 560px; } }

@media only screen and (min-width: 857px) {
  .stock_group, .stock_index {
    max-width: 840px; } }

@media only screen and (min-width: 1137px) {
  .stock_group, .stock_index {
    max-width: 1120px; } }

@media only screen and (min-width: 1417px) {
  .stock_group, .stock_index {
    max-width: 1400px; } }

.stock_index {
  margin: 0px auto; }
  .stock_index table {
    width: 100%; }
    .stock_index table td {
      padding: 0px 15px; }

.stock_group {
  margin: 20px auto; }

.stock_block {
  margin: 15px 15px 15px 15px;
  padding: 5px 5px;
  width: 250px;
  height: 250px;
  display: inline-block;
  border-radius: 10px;
  background: #0D0D0D;
  border: 2px #6C6C6C solid;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer; }
  .stock_block .index, .stock_block .name, .stock_block .change, .stock_block .change_range, .stock_block .volume, .stock_block .volume_total {
    margin-top: 6px;
    width: 110px;
    height: 35px; }
  .stock_block .index, .stock_block .change, .stock_block .volume, .stock_block .link, .stock_block .delete {
    float: left;
    padding-left: 15px; }
  .stock_block .link, .stock_block .delete {
    margin-top: 6px;
    width: 75px;
    height: 35px; }
  .stock_block .name, .stock_block .change_range, .stock_block .volume_total {
    float: right;
    padding-right: 15px;
    text-align: right; }
  .stock_block .name {
    /*單行文字限制*/
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .stock_block .kline {
    float: left;
    margin-top: 10px;
    width: 30px;
    height: 100px; }
    .stock_block .kline svg {
      width: 100%;
      height: 100%; }
      .stock_block .kline svg line {
        stroke-width: 5px;
        stroke: #CCCCCC; }
      .stock_block .kline svg polyline {
        fill: #CCCCCC; }
  .stock_block .deal {
    float: left;
    margin-top: 10px;
    padding-top: 5px;
    width: 190px;
    height: 100px;
    font-size: 56px;
    text-align: center; }
  .stock_block .btn {
    width: 100%;
    padding: 0px;
    font-size: 18px; }

.stock_block:hover {
  height: 300px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.highlighted {
  background: #FFFF6F; }

.bg_red {
  background: #AE0000; }

.bg_green {
  background: #009100; }

.font_red {
  color: #AE0000 !important; }
  .font_red .index, .font_red .name, .font_red .btn {
    color: #CCCCCC; }

.font_green {
  color: #009100 !important; }
  .font_green .index, .font_green .name, .font_green .btn {
    color: #CCCCCC; }

.k_red svg line {
  stroke: #AE0000 !important; }

.k_red svg polyline {
  fill: #AE0000 !important; }

.k_green svg line {
  stroke: #009100 !important; }

.k_green svg polyline {
  fill: #009100 !important; }
