@charset "UTF-8";
head, body {
  margin: 0px 0px;
  padding: 0px 0px;
  color: #CCCCCC;
  background: #1A1A1A;
  font-family: 微軟正黑體;
  font-size: 20px;
  font-weight: bold; }

.navbar-inverse {
  background: #0D0D0D; }

.navbar-right {
  margin-right: 0px; }

@media only screen and (min-width: 477px) {
  .stock_group {
    max-width: 460px; } }

@media only screen and (min-width: 707px) {
  .stock_group {
    max-width: 690px; } }

@media only screen and (min-width: 937px) {
  .stock_group {
    max-width: 920px; } }

@media only screen and (min-width: 1167px) {
  .stock_group {
    max-width: 1150px; } }

.stock_group {
  margin: 20px auto; }

.stock_block {
  margin: 0px 15px 20px 15px;
  padding: 0px 5px;
  width: 200px;
  height: 200px;
  display: inline-block;
  border-radius: 10px;
  background: #0D0D0D;
  border: 2px #6C6C6C solid;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer; }
  .stock_block .index, .stock_block .name, .stock_block .change, .stock_block .change_range, .stock_block .volume, .stock_block .volume_total, .stock_block .link, .stock_block .delete {
    margin-top: 10px;
    width: 90px; }
  .stock_block .index, .stock_block .change, .stock_block .volume, .stock_block .link {
    float: left;
    padding-left: 15px; }
  .stock_block .name, .stock_block .change_range, .stock_block .volume_total, .stock_block .delete {
    float: right;
    padding-right: 15px;
    text-align: right; }
  .stock_block .deal {
    float: left;
    margin-top: 6px;
    width: 100%;
    height: 70px;
    font-size: 48px;
    text-align: center; }
  .stock_block .btn {
    width: 90%;
    padding: 0px;
    font-weight: bold;
    font-size: 18px; }

.stock_block:hover {
  height: 250px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.highlighted {
  background: #FFFF6F; }

.bg_red {
  background: #750000; }

.bg_green {
  background: #009100; }

.font_red {
  color: #750000 !important; }
  .font_red .index, .font_red .name, .font_red .btn {
    color: #CCCCCC; }

.font_green {
  color: #009100 !important; }
  .font_green .index, .font_green .name, .font_green .btn {
    color: #CCCCCC; }
