@charset "UTF-8";
* {
  border: #FFFFFF 1px solid; }

head, body {
  margin: 0px 0px;
  padding: 0px 0px;
  color: #CCCCCC;
  background: #1A1A1A;
  font-family: 微軟正黑體; }

.stock_group {
  margin: 0 auto;
  max-width: 1200px; }

.stock_block {
  margin: 20px;
  padding: 0px 5px;
  width: 200px;
  height: 200px;
  display: inline-block;
  border-radius: 3px;
  background: #0D0D0D;
  border: 1px #262626 solid;
  -webkit-box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.4);
  font-weight: bold; }
  .stock_block .index, .stock_block .name, .stock_block .change, .stock_block .change_range, .stock_block .volume, .stock_block .volume_total {
    margin-top: 10px;
    width: 90px;
    display: inline-block;
    font-size: 20px; }
  .stock_block .index, .stock_block .change, .stock_block .volume {
    float: left;
    padding-left: 15px; }
  .stock_block .name, .stock_block .change_range, .stock_block .volume_total {
    float: right;
    padding-right: 15px;
    text-align: right; }
  .stock_block .deal {
    float: left;
    margin-top: 6px;
    width: 100%;
    height: 70px;
    font-size: 48px;
    text-align: center; }
