
$color_white: #CCCCCC;
$color_red: #EA0000;
$color_green: #00DB00;

* {
    border: #FFFFFF 1px solid;   
}

head, body {
    margin: 0px 0px;
    padding: 0px 0px;
    color: $color_white;
    background: #1A1A1A;
}

.stock_group {
    margin: 0 auto;
    max-width: 1800px;
}

.stock_block {
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 3px; 
    background: #0D0D0D;
    border: 1px #262626 solid;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.4);
}